openapi: 3.2.0
info:
  title: Mamo Business Getting Started API
  version: '1.6'
  description: Mamo Business API follows the REST model. Its purpose is to enable Mamo Business users to automate payment link generation, charges, subscriptions, disbursements, recipients, cards, expenses and webhooks. Accepts JSON request bodies and returns JSON responses.
  contact:
    name: Mamo API Support
    email: api@mamopay.com
servers:
- url: https://business.mamopay.com/manage_api/v1
  description: Production server
- url: https://sandbox.dev.business.mamopay.com/manage_api/v1
  description: Sandbox server
security:
- bearerAuth: []
tags:
- name: Getting Started
paths:
  /:
    get:
      tags:
      - Getting Started
      summary: Quick start
      description: 'Get up and running with Mamo''s APIs in less than 5 minutes.


        In this example, we will use the Business Details endpoint to ensure we have the right permissions to interact with Mamo''s APIs.


        How to Use Mamo''s API Docs

        👈 To the left, you will find all documents, including individual endpoint reference docs. These will include information on various endpoints, their associated methods and the various responses that your code will need to handle.


        👉 To the right, there''s the search bar, language, base URL, code generator and a try it from the browser section.

        - Use the language section to select the language that you plan on writing your code in.

        - Use the base URL to select the environment you would like the docs to target. We would recommend that you would start with the sandbox environment while you build and test your app. And later on switch to the production URL once your flows are tested and are working as expected. Hint, you need a dedicated sandbox account and API Key, if you don''t have one please reach out to us using the chat bubble 💬 on the bottom right.

        - The code generator will automatically create a working code snippet based on the values that you provide on a given page. Feel free to copy and paste this straight into your code. You can also test this using the Try It! button below each section. Note that for production requests, you will be required to provide a valid API Key.


        Payment Link Generation

        To generate payment links, you can follow the guide on Create Payment Link.


        The simplest way to test your integration, is by creating a vanilla payment link that has no custom settings.


        Receive Payments On Your E-Commerce Website

        To make payments right on your page, code snipets can be downloaded from your dashboard


        FAQs

        - API Integration FAQs

        - WooCommerce Integration Guide

        - Shopify Integration Guide

        - Inline Payments Integration'
      responses:
        '200':
          description: Successful response
      operationId: get
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key from the Mamo dashboard (Developer > Keys), passed as `Authorization: Bearer <api_key>`.'
