openapi: 3.0.0
info:
  title: Mamo Business API
  version: '1.6'
  description: Mamo Business API follows the REST model. Its purpose is to enable Mamo Business users to automate payment
    link generation, charges, subscriptions, disbursements, recipients, cards, expenses and webhooks. Accepts JSON request
    bodies and returns JSON responses.
  contact:
    name: Mamo API Support
    email: api@mamopay.com
servers:
- url: https://business.mamopay.com/manage_api/v1
  description: Production server
- url: https://sandbox.dev.business.mamopay.com/manage_api/v1
  description: Sandbox server
paths:
  /accounts/recipients/{recipientIdentifier}:
    delete:
      tags:
      - Recipients
      summary: Delete Recipient
      description: Allows a user to delete recipient.<br><br>
      parameters:
      - in: path
        name: recipientIdentifier
        schema:
          type: string
          default: REP-6BB7CA8DC7
        required: true
        description: Recipient Identifier
        example: REP-6BB7CA8DC7
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Invalid request
        '500':
          description: Unexpected error
      operationId: deleteAccountsRecipientsRecipientidentifier
    get:
      tags:
      - Recipients
      summary: Fetch Recipient
      description: Allows a user to fetch recipient details.<br><br>
      parameters:
      - in: path
        name: recipientIdentifier
        schema:
          type: string
          default: REP-6BB7CA8DC7
        required: true
        description: Recipient Identifier
        example: REP-6BB7CA8DC7
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                  recipient_type:
                    type: string
                  name:
                    type: string
                  relationship:
                    type: string
                  email:
                    type: string
                  eid_number:
                    type: string
                  reason:
                    type: string
                  address:
                    type: object
                    properties:
                      address_line1:
                        type: string
                      address_line2:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                  bank:
                    type: object
                    properties:
                      iban:
                        type: string
                      account_number:
                        type: string
                      name:
                        type: string
                      bic_code:
                        type: string
                      address:
                        type: string
                      country:
                        type: string
                  created_at:
                    type: string
                  recipient_meta:
                    type: object
                example:
                  identifier: REP-D8B07FB8C7
                  name: first name last name
                  recipient_type: individual
                  relationship: others
                  reason: reason
                  email: null
                  eid_number: null
                  address: null
                  bank:
                    iban: AE080200000123223333121
                    country: AE
                    name: null
                    account_number: null
                    address: null
                    city: null
                    bic_code: null
                  created_at: 19/02/2024
                  recipient_meta: {}
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Merchant::Recipient record was not found
                  error_code: RECORD_NOT_FOUND
        '500':
          description: Unexpected error
      operationId: getAccountsRecipientsRecipientidentifier
    patch:
      tags:
      - Recipients
      summary: Update Recipient
      description: Allows a user to update recipient details.<br><br>
      parameters:
      - in: path
        name: recipientIdentifier
        schema:
          type: string
          default: REP-6BB7CA8DC7
        required: true
        description: Recipient Identifier
        example: REP-6BB7CA8DC7
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_type:
                  type: string
                  enum:
                  - individual
                  - business
                  description: The type of the recipient.
                  default: individual
                email:
                  type: string
                  description: Recipient's email.
                business_name:
                  type: string
                  description: Name of the recipient when recipient_type is business.
                first_name:
                  type: string
                  description: First name of the recipient when recipient_type is individual.
                last_name:
                  type: string
                  description: Last name of the recipient when recipient_type is individual.
                relationship:
                  type: string
                  enum:
                  - business_associate_partner
                  - customer
                  - employee
                  - branch_representative_office
                  - subsidiary_company
                  - holding_company
                  - supplier
                  - creditor
                  - debtor
                  - franchisee_franchisor
                  - others
                  description: Recipient's relationship
                reason:
                  type: string
                  description: Reason for the payouts issued to this recipient.
                eid_number:
                  type: string
                  description: Recipient's Emirates ID number.
                bank:
                  type: object
                  properties:
                    iban:
                      type: string
                      description: Recipient's IBAN.
                      default: AE080200000123223333121
                    account_number:
                      type: string
                      description: Recipient's bank account number (only iban or account_number is required)
                    address:
                      type: string
                      description: Recipient's bank address.
                    country:
                      type: string
                      description: Recipient's bank country (two letters ISO country code).
                      default: AE
                    name:
                      type: string
                      description: Recipient's bank name.
                    bic_code:
                      type: string
                      description: Recipient's bank identifier codes for non UAE bank.
                address:
                  type: object
                  properties:
                    address_line1:
                      type: string
                      description: Recipient's first line of the address.
                    address_line2:
                      type: string
                      description: Recipient's second line of the address.
                    city:
                      type: string
                      description: Recipient's city.
                    state:
                      type: string
                      description: 'The state or province of the address in ISO 3166-2 (for example: CA for California in
                        the United States).'
                    country:
                      type: string
                      description: Recipient's address country (two letters ISO country code).
                recipient_meta:
                  type: object
              example:
                recipient_type: individual
                first_name: first name
                last_name: last name
                relationship: others
                reason: reason
                bank:
                  iban: AE080200000123223333121
                  country: AE
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                  recipient_type:
                    type: string
                  name:
                    type: string
                  relationship:
                    type: string
                  email:
                    type: string
                  eid_number:
                    type: string
                  reason:
                    type: string
                  address:
                    type: object
                    properties:
                      address_line1:
                        type: string
                      address_line2:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                  bank:
                    type: object
                    properties:
                      iban:
                        type: string
                      account_number:
                        type: string
                      name:
                        type: string
                      bic_code:
                        type: string
                      address:
                        type: string
                      country:
                        type: string
                  created_at:
                    type: string
                  recipient_meta:
                    type: object
                example:
                  identifier: REP-D8B07FB8C7
                  name: first name last name
                  recipient_type: individual
                  relationship: others
                  reason: reason
                  email: null
                  eid_number: null
                  address: null
                  bank:
                    iban: AE080200000123223333121
                    country: AE
                    name: null
                    account_number: null
                    address: null
                    city: null
                    bic_code: null
                  created_at: 19/02/2024
                  recipient_meta: {}
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Merchant::Recipient record was not found
                  error_code: RECORD_NOT_FOUND
        '500':
          description: Unexpected error
      operationId: patchAccountsRecipientsRecipientidentifier
  /links/{linkId}:
    delete:
      tags:
      - Payment Links
      summary: Delete Payment Link
      description: Allows a user to delete payment link<br><br>
      parameters:
      - in: path
        name: linkId
        schema:
          type: string
          default: MB-LINK-6BB7CA8DC7
        required: true
        description: Payment link ID
        example: MB-LINK-6BB7CA8DC7
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Invalid request
        '500':
          description: Unexpected error
      operationId: deleteLinksLinkid
    get:
      tags:
      - Payment Links
      summary: Fetch Payment Link Info
      description: Allows a user to fetch payment link details<br><br>
      parameters:
      - in: path
        name: linkId
        schema:
          type: string
          default: MB-LINK-6BB7CA8DC7
        required: true
        description: Payment link ID
        example: MB-LINK-6BB7CA8DC7
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                    maxLength: 75
                    description: The title of the payment link
                    default: Chocolate Box - Small
                  description:
                    type: string
                    maxLength: 75
                    description: Payment description. This will appear on the payment checkout page.
                    default: 12pcs Chocolate Box
                  capacity:
                    type: integer
                    description: The number of times a payment link can be used. The capacity will be ignored when the subscription
                      params exist.
                    default: 1
                  active:
                    type: boolean
                    default: true
                  return_url:
                    type: string
                    format: uri
                    description: The URL which the customer will be redirected to after a successful payment.
                    default: https://myawesomewebsite.com/paymentSuccess
                  terms_and_conditions_url:
                    type: string
                    format: uri
                    description: The URL to the terms and conditions page, if provided, the customer will be required to accept
                      the terms before proceeding to payment.
                  processing_fee_percentage:
                    type: number
                    minimum: 2
                    default: 3
                  amount:
                    type: number
                    minimum: 2
                    default: 119.99
                  amount_currency:
                    type: string
                    enum:
                    - AED
                    - USD
                    - EUR
                    - GBP
                    - SAR
                    default: AED
                  link_type:
                    type: string
                    enum:
                    - standalone
                    - modal
                    - inline
                    description: Type of link to be created.
                    default: standalone
                  enable_tabby:
                    type: boolean
                    description: Enables the ability for customers to buy now and pay later.
                    default: false
                  enable_message:
                    type: boolean
                    description: Enables the ability for customers to add a message during the checkout process.
                    default: false
                  enable_tips:
                    type: boolean
                    description: Enables the tips option. This will be displayed on the first screen.
                    default: false
                  enable_customer_details:
                    type: boolean
                    description: Enables adding customer details such as the name, email, and phone number. This screen will
                      be displayed before the payment details screen.
                    default: false
                  enable_quantity:
                    type: boolean
                    description: When enabled, customers can specify the number of items they intend to purchase. This quantity
                      will serve as a multiplier for the base amount.
                    default: false
                  enable_qr_code:
                    type: boolean
                    description: Adds the ability to verify a payment through a QR code.
                    default: false
                  send_customer_receipt:
                    type: boolean
                    description: Enables the sending of customer receipts.
                    default: false
                  save_card:
                    type: string
                    enum:
                    - 'off'
                    - optional
                    - required
                    description: Allows the merchant to enable the option to store card details to be used later on for Merchant
                      Initiated Transactions.
                    default: 'off'
                  payment_methods:
                    type: array
                    description: 'An array of accepted payment methods, card always apart of default option. Example: [''card'',
                      ''wallet'']'
                  rules:
                    type: object
                    description: Setting the rule for payment link
                    properties:
                      allowed:
                        type: array
                        description: An array of one or more rules
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - bins
                              description: name of rules
                            list:
                              type: array
                              description: value of bins
                            decline_message:
                              type: string
                              description: Custom decline message for this rule
                  subscription:
                    type: object
                    description: to be populated if this payment link is for a subscription. Otherwise, this property can
                      be left out.
                    properties:
                      frequency:
                        type: string
                        enum:
                        - annually
                        - monthly
                        - weekly
                        description: defines the interval that this subscription will be run on.
                      frequency_interval:
                        type: integer
                        minimum: 1
                        description: defines how often this subscription will run. This will be based on the frequency property
                          defined above.
                      end_date:
                        type: string
                        pattern: \d{4}\/\d{2}\/\d{2}
                        description: the last date this subscription could run on.
                      payment_quantity:
                        type: integer
                        description: number of times this subscription will occur. If end_date defined, end_date takes precedence.
                  first_name:
                    type: string
                    description: The first name of customer which will pre-populate in card info step.
                  last_name:
                    type: string
                    description: The last name of customer which will pre-populate in card info step.
                  email:
                    type: string
                    description: The email of customer which will pre-populate in card info step.
                  payouts_share:
                    type: object
                    properties:
                      recipient_id:
                        type: string
                        description: The ID of an already added recipient that the transaction amount will be shared with.
                      percentage_to_recipient:
                        type: number
                        description: The percentage of the transaction amount that will be sent to the recipient.
                      recipient_pays_fees:
                        type: boolean
                        description: Whether Mamo fees for a given transaction will be passed on to the recipient.
                  custom_data:
                    type: object
                  id:
                    type: string
                  title:
                    type: string
                  platform:
                    type: string
                  prefilled_customer:
                    type: object
                  external_id:
                    type: string
                  hold_and_charge_later:
                    type: boolean
                  internal_note:
                    type: string
                  lang:
                    type: string
                  expiration_date:
                    type: string
                  is_widget:
                    type: boolean
                  max_amount:
                    type: number
                  processing_fee_amount:
                    type: number
                  payment_url:
                    type: string
                  charges:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - confirmation_required
                          - captured
                          - refund_initiated
                          - processing
                          - failed
                          - refunded
                        id:
                          type: string
                        amount:
                          type: number
                        refund_amount:
                          type: number
                        refund_status:
                          type: string
                        billing_descriptor:
                          type: string
                        custom_data:
                          type: object
                        created_date:
                          type: string
                        subscription_id:
                          type: string
                        settlement_amount:
                          type: number
                        settlement_currency:
                          type: string
                        settlement_date:
                          type: string
                        customer_details:
                          type: object
                          properties:
                            name:
                              type: string
                            email:
                              type: string
                            phone_number:
                              type: string
                            comment:
                              type: string
                        payment_method:
                          type: object
                          properties:
                            type:
                              type: string
                            card_holder_name:
                              type: string
                            card_last4:
                              type: string
                            origin:
                              type: string
                example:
                  id: MB-LINK-37D90AAF51
                  title: Test Payment Link
                  name: Test Payment Link
                  description: Test description
                  capacity: 1
                  active: true
                  return_url: https://myawesomewebsite.com/paymentSuccess
                  processing_fee_percentage: 0
                  amount: 10
                  amount_currency: AED
                  platform: client
                  prefilled_customer: {}
                  external_id: null
                  hold_and_charge_later: false
                  internal_note: null
                  lang: en
                  expiration_date: null
                  enable_message: false
                  enable_tips: false
                  enable_tabby: false
                  link_type: standalone
                  enable_customer_details: false
                  save_card: 'off'
                  is_widget: false
                  max_amount: null
                  processing_fee_amount: null
                  enable_quantity: false
                  payment_methods:
                  - card
                  - wallet
                  rules:
                    allowed: []
                  subscription: null
                  first_name: null
                  last_name: null
                  email: null
                  payouts_share: null
                  custom_data: {}
                  payment_url: https://sandbox.dev.business.mamopay.com/pay/mamo-c1f890
                  send_customer_receipt: true
                  terms_and_conditions_url: null
                  charges:
                  - status: captured
                    id: MPB-CHRG-E0CE93E071
                    amount: 100
                    refund_amount: 0
                    refund_status: No refund
                    billing_descriptor: Mamo*Merchant
                    custom_data:
                      internal_customer_id: 0114120d-c394-4cce-9cdb-4ccbae605748
                      val1: true
                      val2: custom value
                    created_date: 2023-05-31-11-18-57
                    subscription_id: MPB-SUB-B764EDCBA2
                    settlement_amount: 356.42
                    settlement_currency: AED
                    settlement_date: 05/06/2023
                    customer_details:
                      name: Mamo User
                      email: email@mamopay.com
                      phone_number: '+971551234567'
                      comment: Dolore voluptate possimus et.
                    payment_method:
                      type: CREDIT VISA
                      card_holder_name: Mamo User
                      card_last4: •••• 4242
                      origin: UAE card
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Merchant::Link record was not found
                  error_code: RECORD_NOT_FOUND
        '500':
          description: Unexpected error
      operationId: getLinksLinkid
    patch:
      tags:
      - Payment Links
      summary: Update Payment Link
      description: Allows a user to update payment link details<br><br>
      parameters:
      - in: path
        name: linkId
        schema:
          type: string
          default: MB-LINK-6BB7CA8DC7
        required: true
        description: Payment link ID
        example: MB-LINK-6BB7CA8DC7
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 75
                  description: The title of the payment link
                  default: Chocolate Box - Small
                description:
                  type: string
                  maxLength: 75
                  description: Payment description. This will appear on the payment checkout page.
                  default: 12pcs Chocolate Box
                capacity:
                  type: integer
                  description: The number of times a payment link can be used. The capacity will be ignored when the subscription
                    params exist.
                  default: 1
                active:
                  type: boolean
                  default: true
                return_url:
                  type: string
                  format: uri
                  description: The URL which the customer will be redirected to after a successful payment.
                  default: https://myawesomewebsite.com/paymentSuccess
                failure_return_url:
                  type: string
                  format: uri
                  description: The URL which the customer will be redirected to after a failure payment.
                  default: https://failureurl.com/paymentFailure
                terms_and_conditions_url:
                  type: string
                  format: uri
                  description: The URL to the terms and conditions page, if provided, the customer will be required to accept
                    the terms before proceeding to payment.
                processing_fee_percentage:
                  type: number
                  minimum: 2
                  default: 3
                amount:
                  type: number
                  minimum: 2
                  description: amount could be 0 with save_card 'required' option for card verification
                  default: 119.99
                amount_currency:
                  type: string
                  enum:
                  - AED
                  - USD
                  - EUR
                  - GBP
                  - SAR
                  default: AED
                link_type:
                  type: string
                  enum:
                  - standalone
                  - modal
                  - inline
                  description: Type of link to be created.
                  default: standalone
                enable_tabby:
                  type: boolean
                  description: Enables the ability for customers to buy now and pay later.
                  default: false
                enable_message:
                  type: boolean
                  description: Enables the ability for customers to add a message during the checkout process.
                  default: false
                enable_tips:
                  type: boolean
                  description: Enables the tips option. This will be displayed on the first screen.
                  default: false
                save_card:
                  type: string
                  enum:
                  - 'off'
                  - optional
                  - required
                  default: 'off'
                  description: Allows the merchant to enable the option to store card details to be used later on for Merchant
                    Initiated Transactions.
                enable_customer_details:
                  type: boolean
                  description: Enables adding customer details such as the name, email, and phone number. This screen will
                    be displayed before the payment details screen.
                  default: false
                enable_quantity:
                  type: boolean
                  description: When enabled, customers can specify the number of items they intend to purchase. This quantity
                    will serve as a multiplier for the base amount.
                  default: false
                enable_qr_code:
                  type: boolean
                  description: Adds the ability to verify a payment through a QR code.
                  default: false
                send_customer_receipt:
                  type: boolean
                  description: Enables the sending of customer receipts.
                  default: false
                payment_methods:
                  type: array
                  description: 'An array of accepted payment methods, card always apart of default option. Example: [''card'',
                    ''wallet'']'
                rules:
                  type: object
                  description: Setting the rule for payment link
                  properties:
                    allowed:
                      type: array
                      description: An array of one or more rules
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - bins
                            description: name of rules
                          list:
                            type: array
                            description: value of bins
                          decline_message:
                            type: string
                            description: Custom decline message for this rule
                subscription_id:
                  type: string
                  description: The identifier of an existing subscription (created via the [Create Subscription](/reference/post_subscriptions)
                    API) to attach to this payment link. This is the recommended way to create a subscription payment link
                    — create the subscription first, then pass its identifier here. Requires `link_type` to be `inline`.
                subscription:
                  type: object
                  description: Legacy, backwards-compatible way to configure a subscription inline, to be populated if this
                    payment link is for a subscription. Otherwise, this property can be left out. New integrations should
                    use the `subscription_id` field instead, together with the Create Subscription API.
                  properties:
                    frequency:
                      type: string
                      enum:
                      - annually
                      - monthly
                      - weekly
                      description: defines the interval that this subscription will be run on.
                    frequency_interval:
                      type: integer
                      minimum: 1
                      description: defines how often this subscription will run. This will be based on the frequency property
                        defined above.
                    start_date:
                      type: string
                      pattern: \d{4}\/\d{2}\/\d{2}
                      description: the first date this subscription will run on.
                    end_date:
                      type: string
                      pattern: \d{4}\/\d{2}\/\d{2}
                      description: the last date this subscription could run on.
                    payment_quantity:
                      type: integer
                      description: number of times this subscription will occur. If end_date defined, end_date takes precedence.
                first_name:
                  type: string
                  description: The first name of customer which will pre-populate in card info step.
                last_name:
                  type: string
                  description: The last name of customer which will pre-populate in card info step.
                email:
                  type: string
                  description: The email of customer which will pre-populate in card info step.
                external_id:
                  type: string
                hold_and_charge_later:
                  type: boolean
                  default: false
                  description: Indicates whether to place the payment on hold and charge it later using the "captures" API.
                custom_data:
                  type: object
                payouts_share:
                  type: object
                  properties:
                    recipient_id:
                      type: string
                      description: The ID of an already added recipient that the transaction amount will be shared with.
                    percentage_to_recipient:
                      type: number
                      description: The percentage of the transaction amount that will be sent to the recipient.
                    recipient_pays_fees:
                      type: boolean
                      description: Whether Mamo fees for a given transaction will be passed on to the recipient.
              example:
                name: Chocolate Box - Small
                description: 12pcs Chocolate Box
                capacity: 15
                active: true
                return_url: https://myawesomewebsite.com/paymentSuccess
                failure_return_url: https://failurewebsite.com/paymentFailure
                processing_fee_percentage: 3
                amount: 219.99
                amount_currency: AED
                enable_message: true
                enable_tips: true
                save_card: string
                enable_tabby: true
                link_type: modal
                enable_customer_details: true
                payment_methods:
                - card
                - wallet
                rules:
                  allowed:
                  - type: bins
                  - list:
                    - '424242'
                  - decline_message: Custom decline message for this rule
                subscription:
                  frequency: monthly
                  frequency_interval: 1
                  start_date: 2023/01/01
                  end_date: 2023/01/31
                  payment_quantity: 5
                first_name: first name
                last_name: last name
                email: email@mamopay.com
                external_id: external_id_1
                custom_data:
                  val1: true
                  val2: custom value
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  capacity:
                    type: integer
                  active:
                    type: boolean
                  return_url:
                    type: string
                  failure_return_url:
                    type: string
                  processing_fee_percentage:
                    type: number
                  link_type:
                    type: string
                  amount:
                    type: number
                  amount_currency:
                    type: string
                  send_customer_receipt:
                    type: boolean
                  enable_tabby:
                    type: boolean
                  enable_message:
                    type: boolean
                  enable_tips:
                    type: boolean
                  save_card:
                    type: string
                  enable_quantity:
                    type: boolean
                  enable_customer_details:
                    type: boolean
                  payment_url:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  email:
                    type: string
                  external_id:
                    type: string
                  custom_data:
                    type: object
                  payment_methods:
                    type: array
                  rules:
                    type: object
                    properties:
                      allowed:
                        type: array
                        properties:
                          type:
                            type: string
                            enum:
                            - bins
                          list:
                            type: array
                          decline_message:
                            type: string
                  subscription:
                    type: object
                    properties:
                      identifier:
                        type: string
                      repeats_every:
                        type: string
                      frequency_interval:
                        type: integer
                      start_date:
                        type: string
                      end_date:
                        type: string
                      payment_quantity:
                        type: integer
                      frequency:
                        type: string
                example:
                  id: MB-LINK-D8B07FB8C7
                  name: Chocolate Box - Small
                  description: 12pcs Chocolate Box
                  capacity: 15
                  active: true
                  return_url: https://myawesomewebsite.com/paymentSuccess
                  failure_return_url: https://failurewebsite.com/paymentFailure
                  amount: 219.99
                  send_customer_receipt: true
                  payment_url: https://staging.business.mamopay.com/pay/dong22-579f10
                  external_id: exteral_id_1
                  payment_methods:
                  - card
                  - wallet
                  hold_and_charge_later: false
                  rules:
                    allowed:
                    - type: bins
                    - list:
                      - '424242'
                    - decline_message: Custom decline message for this rule
                  subscription:
                    identifier: MPB-SUB-2162171A86
                    frequency: monthly
                    frequency_interval: 1
                    start_date: 2023/01/01
                    end_date: 2023/01/31
                    payment_quantity: 5
                  custom_data:
                    internal_customer_id: 0114120d-c394-4cce-9cdb-4ccbae605748
                    val1: true
                    val2: custom value
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Invalid request
        '500':
          description: Unexpected error
      operationId: patchLinksLinkid
  /subscriptions/{subscriptionId}/subscribers/{subscriberId}:
    delete:
      tags:
      - Subscriptions
      summary: Unsubscribe subscription
      description: Unsubscribe subscription.<br><br>
      parameters:
      - in: path
        name: subscriptionId
        schema:
          type: string
          default: MPB-SUB-89F44540B6
        required: true
        description: Subscription ID
        example: MPB-SUB-89F44540B6
      - in: path
        name: subscriberId
        schema:
          type: string
          default: MPB-SUBSCRIBER-9164BF542E
        required: true
        description: Subscriber ID
        example: MPB-SUBSCRIBER-9164BF542E
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Invalid request
        '500':
          description: Unexpected error
      operationId: deleteSubscriptionsSubscriptionidSubscribersSubscriberid
  /subscriptions/{subscriptionId}:
    delete:
      tags:
      - Subscriptions
      summary: Cancel Subscription
      description: Cancels an existing subscription. This is NOT to unsubscribe a customer from a subscription that they have
        subscribed to. This deletes a previously created subscription for a business. <br><br>
      parameters:
      - in: path
        name: subscriptionId
        schema:
          type: string
        required: true
        description: Subscription ID
        example: MPB-SUB-B764EDCBA2
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Subscription record was not found
                  error_code: RECORD_NOT_FOUND
        '500':
          description: Unexpected error
      operationId: deleteSubscriptionsSubscriptionid
  /webhooks/{webhookId}:
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook
      description: Allows a user to delete a registered webhook.<br><br>
      parameters:
      - in: path
        name: webhookId
        schema:
          type: string
          default: MPB-WH-09B9214B61
        required: true
        description: Webhook ID
        example: MPB-WH-09B9214B61
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Invalid request
        '500':
          description: Unexpected error
      operationId: deleteWebhooksWebhookid
    patch:
      tags:
      - Webhooks
      summary: Update Webhook
      description: Allows a user to update webhook details.<br><br>
      parameters:
      - in: path
        name: webhookId
        schema:
          type: string
          default: MPB-WH-FBA601A8DA
        required: true
        description: Webhook ID
        example: MPB-WH-FBA601A8DA
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: The URL which the customer will be redirected to after a successful payment.
                  default: https://webhook.site/e9145367-01cc-45f9-bebb-69775badb883
                enabled_events:
                  type: array
                  items:
                    type: string
                  description: 'The URL of webhook which customer will be recieved the notification:<br> charge.failed: Notification
                    for failed one-off payments<br> charge.succeeded: Notification for successful one-off payments<br> charge.refund_initiated:
                    Notification for initializing the refund<br> charge.refunded: Notification for the successful refund<br>
                    charge.refund_failed: Notification for the failed refund<br> charge.card_verified: Notification for card
                    verification payment<br> subscription.failed: Notification for failed subscription payments<br> subscription.succeeded:
                    Notification for successful subscription payments<br> payment_link.create: Notification for successfully
                    create payment link<br> payout.processed: Notification for settled payout<br> payout.failed: Notification
                    for rejected payout<br> '
                  default:
                  - charge.failed
                  - charge.succeeded
                  - charge.refund_initiated
                  - charge.refunded
                  - charge.refund_failed
                  - subscription.failed
                  - subscription.succeeded
                  - payment_link.create
                auth_header:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: authentication header
                  default: authentication header
              required:
              - url
              - enabled_events
              example:
                id: MB-WH-FBA601A8DA
                url: https://webhook.site/e9145367-01cc-45f9-bebb-69775badb883
                enabled_events:
                - charge.failed
                auth_header: authentication header
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    default: MB-WH-FBA601A8DA
                    description: The identifier of webhook
                  url:
                    type: string
                    format: uri
                    default: https://webhook.site/e9145367-01cc-45f9-bebb-69775badb883
                    description: The URL which the customer will be redirected to after a successful payment.
                  enabled_events:
                    type: array
                    default:
                    - charge.failed
                    description: the options for notifying
                  auth_header:
                    type: string
                    minLength: 1
                    maxLength: 50
                    description: authentication header
                    default: test
                example:
                  url: https://webhook.site/e9145367-01cc-45f9-bebb-69775badb883
                  enabled_events:
                  - charge.failed
                  auth_header: test
                  id: MB-WH-FBA601A8DA
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Invalid request
        '500':
          description: Unexpected error
      operationId: patchWebhooksWebhookid
  /:
    get:
      tags:
      - Getting Started
      summary: Quick start
      description: 'Get up and running with Mamo''s APIs in less than 5 minutes.<br><br>In this example, we will use the Business
        Details endpoint to ensure we have the right permissions to interact with Mamo''s APIs.<br><br><h2>How to Use Mamo''s
        API Docs</h2>👈 To the left, you will find all documents, including individual endpoint reference docs. These will
        include information on various endpoints, their associated methods and the various responses that your code will need
        to handle.<br><br>👉 To the right, there''s the search bar, language, base URL, code generator and a <em>try it from
        the browser</em> section.<br>- Use the <strong>language</strong> section to select the language that you plan on writing
        your code in.<br>- Use the <strong>base URL</strong> to select the environment you would like the docs to target.
        We would recommend that you would start with the sandbox environment while you build and test your app. And later
        on switch to the production URL once your flows are tested and are working as expected. Hint, you need a dedicated
        sandbox account and API Key, if you don''t have one please reach out to us using the chat bubble 💬 on the bottom right.<br>-
        The <strong>code generator</strong> will automatically create a working code snippet based on the values that you
        provide on a given page. Feel free to copy and paste this straight into your code. You can also test this using the
        <em>Try It!</em> button below each section. Note that for production requests, you will be required to provide a valid
        API Key.<br><br><h2>Payment Link Generation</h2>To generate payment links, you can follow the guide on <a href="https://mamopay.readme.io/reference/post_links">Create
        Payment Link</a>.<br><br>The simplest way to test your integration, is by creating a vanilla payment link that has
        no custom settings.<br><h2>Receive Payments On Your E-Commerce Website</h2>To make payments right on your page, code
        snipets can be downloaded from your dashboard<br><br><h2>FAQs</h2>- <a href="https://help.mamopay.com/en/articles/7234144-api-integrations">API
        Integration FAQs</a><br>- <a href="https://help.mamopay.com/en/articles/7888469-woocommerce">WooCommerce Integration
        Guide</a><br>- <a href="https://help.mamopay.com/en/articles/7991242-shopify">Shopify Integration Guide</a><br>- <a
        href="https://help.mamopay.com/en/articles/9140223-inline-payments-integration">Inline Payments Integration</a><br>

        '
      responses:
        '200':
          description: Successful response
      operationId: get
  /accounts/recipients:
    get:
      tags:
      - Recipients
      summary: Fetching Recipients
      description: Fetches all recipients for a given business.<br><br>
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        identifier:
                          type: string
                        recipient_type:
                          type: string
                        name:
                          type: string
                        relationship:
                          type: string
                        email:
                          type: string
                        eid_number:
                          type: string
                        reason:
                          type: string
                        address:
                          type: object
                          properties:
                            address_line1:
                              type: string
                            address_line2:
                              type: string
                            city:
                              type: string
                            state:
                              type: string
                            country:
                              type: string
                        bank:
                          type: object
                          properties:
                            iban:
                              type: string
                            account_number:
                              type: string
                            name:
                              type: string
                            bic_code:
                              type: string
                            address:
                              type: string
                            country:
                              type: string
                        created_at:
                          type: string
                        recipient_meta:
                          type: object
                  pagination_meta:
                    type: object
                    properties:
                      page:
                        type: number
                      per_page:
                        type: number
                      total_pages:
                        type: number
                      next_page:
                        type: number
                      prev_page:
                        type: number
                      from:
                        type: number
                      to:
                        type: number
                      total_count:
                        type: number
                example:
                  data:
                  - identifier: REP-D8B07FB8C7
                    name: first name last name
                    recipient_type: individual
                    relationship: others
                    reason: reason
                    email: null
                    eid_number: null
                    address: null
                    bank:
                      iban: AE080200000123223333121
                      country: AE
                      name: null
                      account_number: null
                      address: null
                      city: null
                      bic_code: null
                    created_at: 19/02/2024
                    recipient_meta: {}
                  pagination_meta:
                    page: 1
                    per_page: 10
                    total_pages: 5
                    next_page: 2
                    prev_page: null
                    from: 1
                    to: 10
                    total_count: 47
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '500':
          description: Unexpected error
      operationId: getAccountsRecipients
    post:
      tags:
      - Recipients
      summary: Create Recipient
      description: Allows a user to create recipient.<br><br>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_type:
                  type: string
                  enum:
                  - individual
                  - business
                  description: The type of the recipient.
                  default: individual
                email:
                  type: string
                  description: Recipient's email.
                business_name:
                  type: string
                  description: Name of the recipient when recipient_type is business.
                first_name:
                  type: string
                  description: First name of the recipient when recipient_type is individual.
                last_name:
                  type: string
                  description: Last name of the recipient when recipient_type is individual.
                relationship:
                  type: string
                  enum:
                  - business_associate_partner
                  - customer
                  - employee
                  - branch_representative_office
                  - subsidiary_company
                  - holding_company
                  - supplier
                  - creditor
                  - debtor
                  - franchisee_franchisor
                  - others
                  description: Recipient's relationship
                reason:
                  type: string
                  description: Reason for the payouts issued to this recipient.
                eid_number:
                  type: string
                  description: Recipient's Emirates ID number.
                bank:
                  type: object
                  properties:
                    iban:
                      type: string
                      description: Recipient's IBAN.
                      default: AE080200000123223333121
                    account_number:
                      type: string
                      description: Recipient's bank account number (only iban or account_number is required)
                    address:
                      type: string
                      description: Recipient's bank address.
                    country:
                      type: string
                      description: Recipient's bank country (two letters ISO country code).
                      default: AE
                    name:
                      type: string
                      description: Recipient's bank name.
                    bic_code:
                      type: string
                      description: Recipient's bank identifier codes for non UAE bank.
                address:
                  type: object
                  properties:
                    address_line1:
                      type: string
                      description: Recipient's first line of the address.
                    address_line2:
                      type: string
                      description: Recipient's second line of the address.
                    city:
                      type: string
                      description: Recipient's city.
                    state:
                      type: string
                      description: 'The state or province of the address in ISO 3166-2 (for example: CA for California in
                        the United States).'
                    country:
                      type: string
                      description: Recipient's address country (two letters ISO country code).
                recipient_meta:
                  type: object
              required:
              - recipient_type
              - reason
              - relationship
              - bank
              example:
                recipient_type: individual
                first_name: first name
                last_name: last name
                relationship: others
                reason: reason
                bank:
                  iban: AE080200000123223333121
                  country: AE
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                  recipient_type:
                    type: string
                  name:
                    type: string
                  relationship:
                    type: string
                  email:
                    type: string
                  eid_number:
                    type: string
                  reason:
                    type: string
                  address:
                    type: object
                    properties:
                      address_line1:
                        type: string
                      address_line2:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      province:
                        type: string
                      zip:
                        type: string
                      country:
                        type: string
                  bank:
                    type: object
                    properties:
                      iban:
                        type: string
                      account_number:
                        type: string
                      name:
                        type: string
                      bic_code:
                        type: string
                      address:
                        type: string
                      country:
                        type: string
                  created_at:
                    type: string
                  recipient_meta:
                    type: object
                example:
                  identifier: REP-081BCADE9A
                  email: null
                  eid_number: null
                  recipient_type: individual
                  relationship: others
                  recipient_meta: null
                  name: Test User
                  created_at: 04/12/2025
                  bank:
                    name: null
                    address: null
                    country: AE
                    iban: AE080200000123223333121
                    account_number: null
                    bic_code: null
                  address:
                    address_line1: null
                    address_line2: null
                    city: null
                    state: null
                    province: null
                    zip: null
                    country: null
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Invalid request
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                  error_code:
                    type: string
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        items:
                          type: string
                example:
                  messages:
                  - First name can't be blank
                  error_code: VALIDATION_FAILED
                  errors:
                    first_name:
                    - can't be blank
        '500':
          description: Unexpected error
      operationId: postAccountsRecipients
  /cards/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Fetch Transaction Details
      description: Fetches detailed information for a specific card transaction<br><br>
      parameters:
      - name: transactionId
        in: path
        schema:
          type: string
          default: CTX-4584B3DEC9
        required: true
        description: Transaction ID
        example: CTX-4584B3DEC9
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                    description: Type of transaction
                  merchant_name_formatted:
                    type: string
                    description: Formatted merchant name
                  amount_currency:
                    type: string
                    description: Transaction amount currency
                  billing_amount_currency:
                    type: string
                    description: Billing amount currency
                  status:
                    type: string
                    enum:
                    - success
                    - reversed
                    - declined
                    - refunded
                    description: Transaction status
                  card_last4:
                    type: string
                    description: Last 4 digits of card
                  id:
                    type: string
                    description: Transaction identifier
                  merchant_name:
                    type: string
                    nullable: true
                    description: Raw merchant name
                  amount:
                    type: number
                    description: Transaction amount
                  billing_amount:
                    type: number
                    description: Billing amount
                  card_name:
                    type: string
                    description: Name of the card
                  card_holder_name:
                    type: string
                    description: Card holder name
                  created_at:
                    type: string
                    description: Transaction creation date
                  updated_at:
                    type: string
                    description: Transaction last update date
                  expense:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                        - incomplete
                        - pending_review
                        - ready
                        - synced
                        description: Expense status
                      description:
                        type: string
                        nullable: true
                        description: Expense description
                      invoice_number:
                        type: string
                        nullable: true
                        description: Invoice number
                      id:
                        type: string
                        description: Expense identifier
                      category:
                        type: string
                        nullable: true
                        description: Expense category
                      tax_code:
                        type: string
                        nullable: true
                        description: Tax code
                      payment_account:
                        type: string
                        nullable: true
                        description: Payment account
                      expense_account:
                        type: string
                        nullable: true
                        description: Expense account
                      vendor:
                        type: string
                        nullable: true
                        description: Vendor information
                      receipt_uploaded:
                        type: boolean
                        description: Whether receipt is uploaded
                      created_at:
                        type: string
                        description: Expense creation date
                      updated_at:
                        type: string
                        description: Expense last update date
                example:
                  kind: purchase
                  merchant_name_formatted: ACQUIRER NAME
                  amount_currency: USD
                  billing_amount_currency: AED
                  status: success
                  card_last4: '9315'
                  id: CTX-4584B3DEC9
                  merchant_name: null
                  amount: 30
                  billing_amount: 114.05
                  card_name: Phu's card test2
                  card_holder_name: MCS integration
                  created_at: 03 Mar 2025, 01:41PM
                  updated_at: 03 Mar 2025, 01:41PM
                  expense:
                    status: incomplete
                    description: null
                    invoice_number: null
                    id: EXP-CCC03C324C
                    category: null
                    tax_code: null
                    payment_account: null
                    expense_account: null
                    vendor: null
                    receipt_uploaded: false
                    created_at: 03 Mar 2025, 01:41PM
                    updated_at: 03 Mar 2025, 01:41PM
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Transaction not found
                  error_code: RECORD_NOT_FOUND
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                  error:
                    type: string
                example:
                  status: 500
                  error: Internal Server Error
      operationId: getCardsTransactionsTransactionid
  /cards/transactions:
    get:
      tags:
      - Transactions
      summary: Fetching Card Transactions
      description: Fetches all transactions for cards<br><br>
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - in: query
        name: page
        schema:
          type: integer
        example: 1
      - in: query
        name: per_page
        schema:
          type: integer
        example: 100
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                          description: Type of transaction
                        merchant_name_formatted:
                          type: string
                          description: Formatted merchant name
                        amount_currency:
                          type: string
                          description: Transaction amount currency
                        billing_amount_currency:
                          type: string
                          description: Billing amount currency
                        status:
                          type: string
                          enum:
                          - success
                          - reversed
                          - declined
                          - refunded
                          description: Transaction status
                        card_last4:
                          type: string
                          description: Last 4 digits of card
                        id:
                          type: string
                          description: Transaction identifier
                        merchant_name:
                          type: string
                          nullable: true
                          description: Raw merchant name
                        amount:
                          type: number
                          description: Transaction amount
                        billing_amount:
                          type: number
                          description: Billing amount
                        card_name:
                          type: string
                          description: Name of the card
                        card_holder_name:
                          type: string
                          description: Card holder name
                        created_at:
                          type: string
                          description: Transaction creation date
                        updated_at:
                          type: string
                          description: Transaction last update date
                        expense:
                          type: object
                          description: Associated expense information
                          properties:
                            status:
                              type: string
                              enum:
                              - incomplete
                              - pending_review
                              - ready
                              - synced
                              description: Expense status
                            description:
                              type: string
                              nullable: true
                              description: Expense description
                            invoice_number:
                              type: string
                              nullable: true
                              description: Invoice number
                            id:
                              type: string
                              description: Expense identifier
                            category:
                              type: string
                              nullable: true
                              description: Expense category
                            tax_code:
                              type: string
                              nullable: true
                              description: Tax code
                            payment_account:
                              type: string
                              nullable: true
                              description: Payment account
                            expense_account:
                              type: string
                              nullable: true
                              description: Expense account
                            vendor:
                              type: string
                              nullable: true
                              description: Vendor information
                            receipt_uploaded:
                              type: boolean
                              description: Whether receipt is uploaded
                            created_at:
                              type: string
                              description: Expense creation date
                            updated_at:
                              type: string
                              description: Expense last update date
                  pagination_meta:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page number
                      per_page:
                        type: integer
                        description: Items per page
                      total_pages:
                        type: integer
                        description: Total number of pages
                      next_page:
                        type: integer
                        nullable: true
                        description: Next page number
                      prev_page:
                        type: integer
                        nullable: true
                        description: Previous page number
                      from:
                        type: integer
                        description: Starting item number
                      to:
                        type: integer
                        description: Ending item number
                      total_count:
                        type: integer
                        description: Total number of items
                example:
                  data:
                  - kind: purchase
                    merchant_name_formatted: ACQUIRER NAME
                    amount_currency: AED
                    billing_amount_currency: AED
                    status: declined
                    card_last4: '7552'
                    id: CTX-ADE2D190C3
                    merchant_name: null
                    amount: 5
                    billing_amount: 5
                    card_name: Block ATM card
                    card_holder_name: MCS integration
                    created_at: 04 Aug 2025, 03:32PM
                    updated_at: 04 Aug 2025, 03:32PM
                    expense:
                      status: incomplete
                      description: null
                      invoice_number: null
                      id: EXP-CCC03C324C
                      category: null
                      tax_code: null
                      payment_account: null
                      expense_account: null
                      vendor: null
                      receipt_uploaded: false
                      created_at: 03 Mar 2025, 01:41PM
                      updated_at: 03 Mar 2025, 01:41PM
                  - kind: purchase
                    merchant_name_formatted: ACQUIRER NAME
                    amount_currency: AED
                    billing_amount_currency: AED
                    status: declined
                    card_last4: '7552'
                    id: CTX-C698A05F66
                    merchant_name: null
                    amount: 5
                    billing_amount: 5
                    card_name: Block ATM card
                    card_holder_name: MCS integration
                    created_at: 04 Aug 2025, 03:31PM
                    updated_at: 04 Aug 2025, 03:31PM
                    expense: {}
                  pagination_meta:
                    page: 1
                    per_page: 100
                    total_pages: 2
                    next_page: 2
                    prev_page: null
                    from: 1
                    to: 100
                    total_count: 148
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                  error:
                    type: string
                example:
                  status: 500
                  error: Internal Server Error
      operationId: getCardsTransactions
  /charges/{chargeId}:
    get:
      tags:
      - Transactions
      summary: Fetch Transaction Info
      description: This API enables you to retrieve detailed information about a specific charge by providing the charge ID.<br>It
        is designed to give you a comprehensive view of transaction details.<br><br>
      parameters:
      - in: path
        name: chargeId
        schema:
          type: string
          default: MPB-CHRG-E0CE93E071
        required: true
        description: Transaction ID / Charge ID
        example: MPB-CHRG-E0CE93E071
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - confirmation_required
                    - captured
                    - refund_initiated
                    - processing
                    - failed
                    - refunded
                  id:
                    type: string
                  amount:
                    type: number
                  amount_currency:
                    type: string
                  refund_amount:
                    type: number
                  refund_status:
                    type: string
                  billing_descriptor:
                    type: string
                  custom_data:
                    type: object
                  created_date:
                    type: string
                  subscription_id:
                    type: string
                    description: Value is set for subscriptions only. For one-time payments, this will be null.
                  next_payment_date:
                    type: string
                    description: Value is set for subscriptions only. For one-time payments, this will be null.
                  settlement_amount:
                    type: number
                  settlement_currency:
                    type: string
                  settlement_date:
                    type: string
                  customer_details:
                    type: object
                    properties:
                      name:
                        type: string
                      email:
                        type: string
                      phone_number:
                        type: string
                      comment:
                        type: string
                  payment_method:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - CREDIT MASTERCARD
                        - CREDIT VISA
                        - CREDIT AMERICAN EXPRESS
                        - DEBIT MASTERCARD
                        - DEBIT VISA
                        - DEBIT AMERICAN EXPRESS
                      card_holder_name:
                        type: string
                      card_last4:
                        type: string
                      origin:
                        type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                example:
                  status: captured
                  id: MPB-CHRG-E0CE93E071
                  amount: 100
                  amount_currency: AED
                  refund_amount: 0
                  refund_status: No refund
                  billing_descriptor: Mamo*Merchant
                  custom_data:
                    internal_customer_id: 0114120d-c394-4cce-9cdb-4ccbae605748
                    val1: true
                    val2: custom value
                  created_date: 2023-05-31-11-18-57
                  subscription_id: MPB-SUB-B764EDCBA2
                  next_payment_date: 05/06/2023
                  settlement_amount: 356.42
                  settlement_currency: AED
                  settlement_date: 05/06/2023
                  customer_details:
                    name: Mamo User
                    email: email@mamopay.com
                    phone_number: '+971551234567'
                    comment: Dolore voluptate possimus et.
                  payment_method:
                    type: CREDIT VISA
                    card_holder_name: Mamo User
                    card_last4: •••• 4242
                    origin: UAE card
                  error_code: generic
                  error_message: Unknown reason - user should contact their bank to find out
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Unauthorized
                  error_code: UNAUTHORIZED
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
                  error_code:
                    type: string
                example:
                  messages:
                  - Charge record was not found
                  error_code: RECORD_NOT_FOUND
        '500':
          description: Unexpected error
      operationId: getChargesChargeid
  /charges:
    get:
      tags:
      - Transactions
      summary: Fetching Transactions
      description: Fetches all transactions for a given business<br><br>
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - in: query
        name: page
        schema:
          type: integer
        example: 1
      - in: query
        name: per_page
        schema:
          type: integer
        example: 10
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer <your sandbox api key>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          default: MPB-CHRG-D8B07FB8D7
                        status:
                          type: string
                          default: captured
                        amount:
                          type: number
                          default: 122.87
                        amount_currency:
                          type: string
                          default: AED
                        refund_amount:
                          type: string
                          default: 0
                        refund_status:
                          type: string
                          default: No refund
                        billing_descriptor:
                          type: string
                        custom_data:
                          type: object
[...]
